<!doctype html>

<html lang="en">
<head>
  <title>Vue Chatbot</title>
  <script src="https://cdn.jsdelivr.net/vue/latest/vue.js"></script>
</head>
<body>

  <div id="vueChatbot">
    <input type="text" placeholder="Talk to Chatbot 3000" v-model="userInput" v-on:keyup.enter="responseMethod"></input>
    <div v-if="userInput">
      <p> Hi, is {{userInput}} your name?</p>
    </div>
  </div>

  <script>
  new Vue({
    el: '#vueChatbot',
    data: {
      userInput: ""
    }
    methods: {
      responseMethod {
        userInput: {{userInput}}.toLowerCase();
        console.log(userInput)
      }
    }
  })
  </script>

</body>
</html>
